<form ng-submit="saveSeries(serie)">
   <input type="text" ng-model="serie.title" placeholder="Titel" required>
   <input type="text" ng-model="serie.genre" placeholder="Genre">
   <input type="text" ng-model="serie.channel" placeholder="Kanal">
   <select class="select-style" ng-model="serie.status" ng-options="s for s in statuses" required>
     <option value="" disabled selected ng-hide="statuses">Välj status</option>
   </select>
   <select class="select-style" ng-model="serie.grade" ng-options="g for g in grades" required>
     <option value="" disabled selected ng-hide="grades">Välj betyg</option>
   </select>
   <input class="btn btn-success" type="submit" ng-click="serie.editing = false" value="Spara">
</form>
