body {
  font-family: 'Lato', sans-serif;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.main-content {
  text-align: left;
  margin-top: 100px;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-right: 20px;
}

li p {
  display: inline-block;
  width: 180px;
}

button {
  margin: 5px;
}

.sorting li {
  margin-left: 20px;
  padding-right: 0;
}

.div-show-series {
  margin-top: 50px;
}

.div-show-series input, .div-show-series select {
  margin-right: 20px;
  width: 150px;
}

.div-show-series .btn-success {
  width: 80px;
}

.div-add-series {
  margin-top: 40px;
}

.div-add-series input, .div-add-series select {
  display: block;
  margin-bottom: 20px;
  width:100%;
}

.div-add-series input[type=submit] {
  width: initial;
}

.select-style {
    border: 1px solid #ccc;
    overflow: hidden;
    background: #FFF;
}
.select-style select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: #FFF;
    border: 0;
    outline: 1px solid #CCC;
    background-color: white;
}

.select-style select:focus {
    outline: none;
}
